
.box {
  position:fixed;
  z-index: 1;
  box-shadow: 0 0 0 2000px rgba(51,51,51,0.7);
  pointer-events: none;
}
#crop {
  display: flex;
  align-items: center;
  justify-content: center;
}
.touch-img {
  position: fixed;
  transform: translateZ(0px);
  -webkit-transform: translateZ(0px);
  -webkit-overflow-scrolling: touch
}


.buts {
  position: fixed;
  bottom: 0;
  left: 5%;
  width: 90%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}
.scale {
  background-color: salmon;
  color: #fff;
  padding: 0 17px;
  height: 31px;
  border-radius: 2px;
  line-height: 31px;
  font-size: 14px;
  font-family: Source Han Sans CN;
  font-weight: 500;
}
.confirm {
  padding: 0 17px;
  height: 31px;
  background-color: #04C061;
  color: #fff;
  border-radius: 2px;
  line-height: 31px;
  font-size: 14px;
  font-family: Source Han Sans CN;
  font-weight: 500;
  color: #FFFFFF;
}

.none {
  display: none !important;
}
